
body{
	background:#fff;
}
.body-wrap{
	margin-bottom: 80px;
}
.wrap-cart{
	width:960px;
	margin:0 auto 0px;
}
//全选
.service{
	float:right;
}
.wrap-cart .cart-pay{
	height:44px;
	margin-top:20px;
	border:1px solid #ddd;
	padding:15px 16px 15px 14px;
}
.wrap-cart>.cart-pay .pay-price{
	float: left;
}
.wrap-cart>.cart-pay .pay-price>*{
	float: left;
}
.wrap-cart>.cart-pay .pay-price span{
	float: left;
	width: 24px;
	height: 24px;
	background: url(../imgs/space.png) no-repeat;
	background-size: contain;
	margin-top:-5px;
}
.wrap-cart>.cart-pay .pay-price span.active{
	background: url(../imgs/space-ok.png) no-repeat;
	background-size: contain;
}
.wrap-cart>.cart-pay .pay-price i{
	margin-left: 18px;
	font-size: 14px;
	color: #333;
}
.wrap-cart>.cart-pay .pay-money{
	position: relative;
	float:right;
}
.wrap-cart>.cart-pay .pay-money a{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

// 　购物车列表
.wrap-cart>.cart-list li.cart-item{
	margin-top:15px;
	border:1px solid #ddd;
	margin-top:20px;
	padding:15px 16px 15px 14px;
}
.wrap-cart li.cart-item>.cart-item-detail{
	overflow: hidden;
}
.wrap-cart>.cart-list .cart-item-l{
	float: left;
	width: 132px;
}
.wrap-cart>.cart-list .cart-item-l>span{
	float: left;
	margin-top: 28px;
	width: 24px;
	height: 24px;
	background: url(../imgs/space-no1.png) no-repeat;
	background-size: contain;
}
.wrap-cart>.cart-list .cart-item-l>span.active{
	background: url(../imgs/space-ok.png) no-repeat;
	background-size: contain;
}
.wrap-cart>.cart-list .cart-item-l>span.grey{
	background: none;
	background-color: #eee;
	border-radius: 50%;
	overflow: hidden;
}
.wrap-cart>.cart-list .cart-item-l>.goods-pic{
	position: relative;
	float:left;
	width: 90px;
	height: 90px;
	border-radius: 5px;
	border:1px solid #ddd;
	margin-left:18px;
	overflow: hidden;
}
.wrap-cart>.cart-list .cart-item-l>.goods-pic>a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.wrap-cart>.cart-list .cart-item-l>.goods-pic img{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .5s;
}
.wrap-cart>.cart-list .cart-item-l>.goods-pic span{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../imgs/sale out.png) no-repeat;
	background-size: contain;
}

.wrap-cart .cart-list .cart-item-r{
	float: left;
}
.wrap-cart>.cart-list .cart-item-r>h3{
	width:234px;
	float:left;
	line-height:24px;
	margin-left:20px;
}
.wrap-cart>.cart-list .cart-item-r>h3 p{
	color:#FE556B;
	font-size:14px;
}
.wrap-cart>.cart-list .cart-item-r>h3>a{
	display:inline-block;
	height:64px;
	font-size:14px;
	color: #4A4A4A;
}
.wrap-cart>.cart-list .cart-item-r>p{
	font-size:14px;
	color: #4A4A4A;
	line-height:24px;
	margin-left:50px;
}
.wrap-cart .cart-list .goods-material{
	float:left;
	width:180px;
	height: 25px;
}
.wrap-cart>.cart-list .cart-item-r>p em{
	font-size:14px;
	color: #4A4A4A;
}
.wrap-cart .cart-list .goods-price{
	float:left;
	width: 256px;
}
.wrap-cart>.cart-list .goods-price>span{
	float: left;
	font-size: 16px;
	color: #E3458D;
	margin-left:50px;
	display:inline-block;
	line-height:20px;
}
.wrap-cart>.cart-list .goods-price .goods-count{
	float: right;
	margin-right: 16px;
	height: 24px;
	border: 1px solid #999;
	border-radius: 4px;
	margin-left:50px;
}
.wrap-cart>.cart-list .goods-price .goods-count>span{
	float: left;
	width: 20px;
	height: 100%;
	line-height: 20px;
	color: #999;
	text-align: center;
}
.wrap-cart>.cart-list .goods-price .goods-count>span.add{}
.wrap-cart>.cart-list .goods-price .goods-count>span.remain{
	float: right;
}
.wrap-cart>.cart-list .goods-price .goods-count>input{
	float: left;
	width: 30px;
	height: 100%;
	line-height: 20px;
	color: #222;
	text-align: center;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.wrap-cart .cart-item-r .cart-item-remove{
	width: 30px;
	line-height:24px;
	float:right;
}
.wrap-cart .cart-item-r span{
	margin-left: .35rem;
	color: #FE556B;
}
.wrap-cart .cart-item-r i{
	float:left;
	margin-right: 5px;
	width: 1px;
	height: 12px;
	background-color: #999;
	margin-top:6px;
}
.wrap-cart .cart-item-r ƒ√em{
	float: right;
	margin-right: .17rem;
	color: #666;
}

// 全选和结算
.selectall{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: #fff;
	overflow: hidden;
	box-shadow:0 2px 12px 0 #000;
}
.account{
	width:960px;
	margin:auto;
}
.account> .pay-price{
	float: left;
}
.account>.pay-price>*{
	float: left;
}
.account> .pay-price span{
	margin: 28px;
	width: 24px;
	height: 24rem;
	background: url(../imgs/space-no1.png) no-repeat;
	background-size: contain;
}
.account>.pay-price span.active{
	background: url(../imgs/space-ok.png) no-repeat;
	background-size: contain;
}
.account>.pay-price em{
	font-size:14px;
	color: #333;
	padding-left:15px;
}
.account>.pay-price em i{
	font-size: .18rem;
	color: #E3458D;
}
.account> .pay-money{
	position: relative;
	float: right;
}
.account> .pay-money span{
	font-size:25px;
	color:#CB68A4;
	padding-right:35px;
}
.account .pay-money .account-btn{
	width:143px;
	height:50px;
	line-height:50px;
	text-align:center;
	background-color: #F5A5C7;
	margin-top:15px;
	color:#fff;
	font-size:20px;
}
.account> .pay-money a{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer{
	position: static;
}

//删除提示
.opacity{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.4);
	transition: all .5s;
	display: none;
	opacity: 0;
	z-index: 2;
}
.opacity .con{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -135px;
	background-color: rgba(255,255,255,.95);
	border-radius: 12px;
	overflow: hidden;
}
.opacity .con .con-top{
	width: 270px;
	height: 117px;
	background: url(../imgs/opacity-bg.png) no-repeat;
	background-size: contain;
}
.opacity .con p{
	text-align: center;
	line-height: 40px;
	color: #222;
}
.opacity .con li{
	float: left;
	width: 50%;
	line-height: 45px;
	text-align: center;
	color: #0076FF;
	border-top: 1px solid #D8D8D8;
}
.opacity .con li:last-of-type{
	border-left: 1px solid #D8D8D8;
}
.opacity .con h2,.opacity .con input{
	display: none;
}
.opacity .reason h2{
	display: block;
	font-size: 18px;
	color: #222;
	text-align: center;
	line-height: 40px;
}

.opacity3{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    transition: all .5s;
    display: none;
    opacity: 0;
    z-index: 999;
}
.opacity3 .con{
    position: absolute;
    left: 50%;
    top: 50%;
    width:384px;
    height:146px;
    margin-top: -150px;
    margin-left: -135px;
    background-color: rgba(255,255,255,.95);
    border-radius: 4px;
    overflow: hidden;
}
.opacity3 .con h2{
    height:33px;
    width:100%;
    line-height: 33px;
    font-size:14px;
    color:#4a4a4a;
    padding:0 10px;
    background:#FAFAFA;
}
.opacity3 .con h2 span{
    height:22px;
    width:24px;
    display: inline-block;
    background:url(../imgs/cancel.png) no-repeat;
    background-size: contain;
    float:right;
    margin-top:5px;
}
.opacity3 .con p{
    text-align: center;
    line-height: 30px;
    color:#ED3C16;
    margin-top:30px;
}
.ntalk-window-containter{
    top:50% !important;
    left:50% !important; 
    margin-left:-207px !important;
    margin-top:-260px !important;
}

