body{
    background:#fff;
}
.find-wrap-public{
    width:1035px;
    margin:0 auto;
}
// 图片轮播
    .swiper-container {
        width: 100%;
        padding-bottom: 50px;
    }
    .swiper-slide {
        position: relative;
        background-position: center;
        background-size: cover;
        width: 65%;
        height: 300px;

    }
    .swiper-pagination{
        display:none;
    }
    .swiper-slide-next,.swiper-slide-prev{
        transition-duration: .8s !important;
        transition:opacity ;
        opacity:0.4;
    }
    .swiper-slide-active{
        transition:opacity 1s!important;
        opacity:1;
    }
    .swiper-slide>a{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
// 导航
.wrap-nav{
    height:30px;
    width:100%;
    overflow: hidden;
}
.wrap-nav ul{
    float:left;
    height:30px;
}
.wrap-nav ul li{
    float:left;
    width:125px;
    height:30px;
    line-height:30px; 
}

.wrap-nav ul li a{
    font-size:14px;
    color:#2A2A2A;
}
.wrap-nav>div{
    float: left;
    line-height: 30px;
}
.wrap-nav>div a{
    font-size: 14px;
    color: #9B9B9B;
}
.search{
    float: left;
    margin-left: 216px;
    position: relative;
}
.search span{
    position:absolute;;
    top:6px;
    right:16px;
    width:18px;
    height:18px;
    display: inline-block;
    background:url(../imgs/search-pic.png) no-repeat;
    background-size: contain;
}
.search a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.search  .text-search{
    height:30px;
    width:160px;
    border-radius:30px;
    background: #F4F4F4;
    padding-left:20px;
    padding-top:3px;
}
.search input::placeholder{
    font-size:16px;
    color:#999;
}

.wrap-nav li.active a{
    color:#CB68A4;
}

// 展示列表
.wrap-list-item{
    margin-top: 30px;
    width:100%;
}
.wrap-list-item .list-item{
    width:335px;
    height:341px;
    float:left;
    margin-right:10px;
    margin-bottom:30px;
}
.wrap-list-item .item-pic{
    position: relative;
    width:100%;
    height: 200px;
    border-radius:4px;
    overflow: hidden;
}
.wrap-list-item .item-pic>a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.wrap-list-item .item-pic img{
    position: absolute;
    /*left: 0;
    top: 0;*/
    opacity: 0;
    transition: all .5s;
}
.item-title{
    padding-top:16px;
}
.item-title h3 b{
    font-size:14px;
    margin-left:15px;
}
.item-title h3 em{
    color:#666;
    font-size:10px;
     margin-left:15px;
}
.item-title h3{
    line-height:28px;
}
.item-title h3 img{
    width:28px;
    height:28px;
    margin-left:10px;
    opacity: 0;
    transition: all .5s;
}
.item-content{
    padding-top:10px;
    padding-left:5px;
    padding-right:5px;
}
.item-content h2{
    font-size:18px;
    line-height:25px;
}
.item-content p{
    font-size:12px;
    line-height:16px;
    color:#999;
}
.item-words li{
    padding-top:10px;
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
}
.item-words li span,em{
     color:#999;
}
.item-words li i{
    display:inline-block;
    margin:-3px 10px;
    width:1px;
    height:12px;
    background:#ddd;
}
.item-words li:nth-of-type(1){
    float:left;
}
.item-words li:nth-of-type(2){
    float:left;
}
.item-words li:nth-of-type(3){
    float:right;
   
}
.item-words li:nth-of-type(3) span{
    display:inline-block;
    color:#999;
    width:42px;
    height:18px;
    text-align:center;
    line-height:18px;
    border: 1px solid #999999;
    border-radius: 4px;
    margin-top:2px;
}
.search{
    float: left;
    position: relative;
}
.search span{
    position:absolute;;
    top:6px;
    right:16px;
    width:18px;
    height:18px;
    display: inline-block;
    background:url(../imgs/search-pic.png) no-repeat;
    background-size: contain;
}
.search a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.search  .text-search{
    height:30px;
    width:160px;
    border-radius:30px;
    background: #F4F4F4;
    padding-left:20px;
    padding-top:3px;
}
.search input::placeholder{
    font-size:16px;
    color:#999;
}