body{
	backgrond:#fff;
}
.title .top-pic{
	margin-top: 10px;
	width: 100%;
}
.main-left{
	width:648px;
	float:left;
}
.wrap-title{
	width:100%;
	height:45px;
	margin-top:61px;
}
.wrap-title h2{
	float:left;
	font-size:32px;
}
.wrap-title span{
	float:right;
	display:inline-block;
	width:28px;
	height:45px;
	text-align:center;
}
.wrap-title span em{
	width:28px;
	height:26px;
	display:inline-block;
	margin-bottom:5px;
	background: url(../imgs/heart.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
.item-title{
    padding-top:10px;
}
.item-title h3 b{
    font-size:14px;
    margin-left:15px;
}
.item-title h3 em{
    color:#666;
    font-size:10px;
    margin-left:15px;
}
.item-title h3 a{
	width:44px;
	height:18px;
	display:inline-block;
	border-radius:4px;
	color:#666666;
	border:1px solid #999999;
	line-height:18px;
	font-size:12px;
	text-align:center;
	margin-left:14px;
}
.item-title h3{
    line-height:28px;
}
.item-title h3 img{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-left:10px;
}
.item-content{
	width:648px;
	height:auto;
}
.item-content p img{
	width:100%;
	margin:20px 0;
}
.item-content dl dd {
	margin-top:20px;
}
.item-content p{
	line-height:28px;
	font-size:14px;
	color:#666;
}

// 留言
.message{
	width:648px;
	margin-top:80px;
}
.message-title{
	height:28px;
	width:100%;
	margin-bottom:20px;
}
.message-title h4{
	float:left;
	width:115px;
	font-size:20px;
}
.message-title h4 i{
	color:#999;
	font-size:14px;
	padding-left:10px;
}
.message-title span{
	float:right;
	display:block;
	width:96px;
	height:28px;
	line-height:28px;
	color:#4A4A4A;
}
.message-title span img{
	width:26px;
	height:27px;
	margin-left:10px;
	cursor: pointer;
}
.message-list{
	height:80px;
	width:100%;
	margin-bottom:30px;
}
.message-list .user-info {
	height:32px;
	line-height:32px;
}
.message-list .user-info b{
	font-size:14px;
}
.message-list p img{
	width:32px;
	height:32px;
}
.message-list p em{
	float:right;
	font-size:12px;
	color:#999;
}
.message-list .user-cont{
	height:21px;
	line-height:21px;
	color:#666;
	font-size:14px;
	margin-top:4px;
	padding-left:34px;
}

// 右半部分
.main-right{
	width:350px;
	float:left;
	margin-left:22px;
	position:relative;
}
.main-right .right-custom{
	height:530px;
	width:350px;
	margin-top:20px;
}
.right-custom .right-custom-cont{
	width:100%;
	height:482px;
	background:#F0F0F0;
}
.main-right .right-custom p{
	width:100%;
	height:48px;
	background:#FF66AA;
	text-align:center;
	line-height:48px;
}
.main-right .right-custom p a{
	width:100%;
	color:#fff;
	font-size:16px;
}
.right-recommend{
	width:350px;
	height:auto;
	padding:12px 7px 0px 7px;
	border:1px solid #ddd;
	margin-top:64px;
	display: none;
}
.right-recommend h4{
	margin-bottom:10px;
}
.right-recommend h4 img{
	height:20px;
	width:20px;
	float:left;
}
.right-recommend h4 span{
	font-size:18px;
	padding-left:10px;
}
.item-recommend{
	position: relative;
	width:100%;
	margin-bottom:33px;
}
.item-recommend img{
	width:334px;
	height: 198px;
}
.item-recommend h6{
	font-size:18px;
	margin-top:12px;
	margin-bottom:10px;
}
.item-recommend a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.item-recommend p span,em{
	font-size:12px;
	color:#666;
}
.item-recommend p em{
	display:inline-block;
	width:45px;
	height:18px;
	border-radius:4px;
	border:1px solid #999;
	text-align:center;
	line-height:18px;
	margin-left:10px;
}
// 写评论弹出层
.words-box-bg{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	z-index: 2;
	display: none;
	opacity: 0;
	transition:all .5s;
}
.words-box-bg  .wrap-opacity{
	width:1028px;
	height: 200px;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-514px;
}
.words-box-bg .words-wrap{
	width:658px;
	height: 200px;
	background-color: rgba(255,255,255,1);
}
.words-box-bg .words-wrap>ul{
	background: -webkit-linear-gradient(top,rgba(0,0,0,.1),rgba(255,255,255,1));
	background: -moz-linear-gradient(top,rgba(0,0,0,.1),rgba(255,255,255,1));
	background: linear-gradient(top,rgba(0,0,0,.1),rgba(255,255,255,1));
	overflow: hidden;
}
.words-box-bg .words-wrap li{
	float: left;
	padding: 20px 20px;
	font-size: 16px;
	line-height: 50px;
	color: #666;
}
.words-box-bg .words-wrap li:last-of-type{
	float: right;
}
.words-box-bg .words-wrap>.words-content{}
.words-box-bg .words-wrap textarea{
	width: 620px;
	margin-left:14px;
	height: 150px;
	font-size: 14px;
	overflow-y: scroll;
}
.words-box-bg .words-wrap textarea::placeholder{
	color:#999;
}
.detail>img{
	width: 100%;
}
.detail-wrap{
	overflow: hidden;
}
.detail-title{
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 5px;
	font-size: 20px;
	color: #222;
}
.item-head{
	margin-left: 20px;
	overflow: hidden;
}
.item-head>*{
	float: left;
	margin-right: 10px;
	line-height: 45px;
	font-size: 14px;
	color: #000;
	overflow: hidden;
}
.item-head>img.avater{
	margin-top: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.item-head>span.name{}
.item-head>i.time{
	font-size: 12px;
	color: #999;
}
em.kind{
	margin-top: 13px;
	margin-left: 10px;
	width: 42px;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #999;
	border: 1px solid #999;
	border-radius: 3px;
}
.detail-con{
	padding: 20px;
}
.detail-con>p{
	width: 100%;
	line-height: 2em;
	font-size: 14px;
	color: #999;
}
.detail-con>p:first-of-type{
	margin-top: 10px;
}
.detail-con p>img{
	margin: 23px 0;
	width: 100%;
}
.opacity1{
	position: fixed;
	top: .0;
	left: 0;
	right: 0;
 	bottom: 0;
	width: 100%;
	background: url(../imgs/tips.png) no-repeat;
	background-size: 100% 100%;
	z-index: 2;
	display: none;
	opacity: 0;
	transition: all .5s;
}
em.close{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
}


.opacity2{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.4);
	transition: all .5s;
	display: none;
	opacity: 0;
	z-index: 2;
}
.opacity2 .con{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -135px;
	background-color: rgba(255,255,255,.95);
	border-radius: 12px;
	overflow: hidden;
}
.opacity2 .con .con-top{
	width: 270px;
	height: 117px;
	background: url(../imgs/opacity-bg.png) no-repeat;
	background-size: contain;
}
.opacity2 .con p{
	text-align: center;
	line-height: 40px;
	color: #222;
}
.opacity2 .con li{
	float: left;
	width: 50%;
	line-height: 45px;
	text-align: center;
	color: #0076FF;
	border-top: 1px solid #D8D8D8;
}
.opacity2 .con li:last-of-type{
	border-left: 1px solid #D8D8D8;
}
.opacity2 .con h2,.opacity .con input{
	display: none;
}
.opacity2 .reason h2{
	display: block;
	font-size: 18px;
	color: #222;
	text-align: center;
	line-height:40px;
}

//登陆页弹出层
.opacity-log{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(0,0,0,.6);
	z-index: 2;
	opacity: 0;
	display: none;
	transition: all .5s;
 }
.opacity-log .user{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -220px;
	margin-top: -236px;
	height:472px;
	width:440px;
	background:#fafafa;
	border-radius: 5px;
}
.opacity-log .user h3 em{
	float:left;
	font-size:18px;
	color:#CB68A4;
	margin-left:18px;
	padding-left:4px;
	margin-bottom:36px;
	padding-top:28px;
}
.opacity-log .user h3 span{
	height:28px;
    width:30px;
    display: inline-block;
    background:url(../imgs/cancel.png) no-repeat;
    background-size: contain;
    float:right;
    margin-top:20px;
    margin-right:16px;
}
.opacity-log .login{
	margin-left: 18px;
}
.opacity-log .login li{
	width:400px;
	height: 56px;
	line-height: 56px;
	border: 1px solid #ddd; 
	border-radius: 6px;
	overflow: hidden;
	margin-bottom:12px;
}
.opacity-log .login>li>*{
	float: left;
}
.opacity-log .login>li>i{
	margin-top: 12px;
	margin-left:14px;
	width: 28px;
	height: 28px;
}
.opacity-log .login>li:first-of-type>i{
	background: url(../imgs/pen.png) no-repeat;
	background-size: contain;
}
.opacity-log .login>li:nth-of-type(2)>i{
	background: url(../imgs/people.png) no-repeat;
	background-size: contain;
}
.opacity-log .login>li:nth-of-type(3)>i{
	background: url(../imgs/lock.png) no-repeat;
	background-size: contain;
	border-bottom: none; 
}
.opacity-log .login>li>input{
	width: 180px;
	height: 56px;
	line-height: 56px;
	font-size: 15px;
	color: #999;
	text-indent: 14px;
}
.opacity-log .login>li>input::placeholder{
	color:#999;
}
.opacity-log .login>li>button{
	float: right;
	margin-top: 15px;
	padding: 0 5px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	color: #666;
	border-left: 1px solid #F0F0F0;
}
.opacity-log .login>li>img{
	float: right;
	width: 120px;
	height: 100%;
	border:1px solid #ddd;
}
.opacity-log .login-btn{
	margin-top: 60px;
	margin-left:28px;
	width: 380px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	background: #CB68A4;
	border-radius: 25px;
	color:#fff;
}
.opacity-log .argee{
	margin-top: 14px;
	color: #666;
	text-align: center;
	font-size:12px;
}
.opacity-log .argee>a{
	color: #4990E2;
	font-size:12px;
}