*{
	margin:0;
	padding:0
}
.swiper-container{
	width:811px;
	height:445px;
	float:left;
}
.swiper-container img{
	width:100%;
	opacity: 0;
	transition: all .5s;
}
.swiper-slide{
	position: relative;
}
.swiper-slide a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.new-goods{
	height:445px;
	width:217px;
	background:#fff;
	float:right;
}
.new-goods a{
	display:inline-block;
	width:100%;
}
.new-goods img{
	width:202px;
	margin-top:2px;
	margin-left:9px;
	border:1px solid #ddd;
}
.new-goods .hui{
	width:202px;
	height:122px;
	margin-top:2px;
	margin-left:9px;
	border:1px solid #ddd;
}
.wrap-nav{
	width:790px;
	height:120px;
	margin:auto;
	background:#fff;
	border-radius:8px;
	margin-top:24px;
	box-shadow: 0 4px 8px 0 #F0F0F0;
}
.wrap-nav dl{
	position: relative;
	height:120px;
	float:left;
	width:25%;
	text-align:center;
}
.wrap-nav dl dt img{
	width:48px;
	height:52px;
	margin:20px 0;
}
.wrap-nav dl dd{
	font-size:14px;
	padding-bottom:17px;
}
.wrap-nav dl a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.pic-baby1 img{
	border-radius:4px;
}

.wrap-kinds>div:nth-of-type(1){
	width:910px;
	background:url(../imgs/circle-bg.png) no-repeat;
	background-size:100% auto;
	margin:auto;
	margin-top:70px;
	background-position:80% 25%;
}
.wrap-kinds>div:nth-of-type(1) .pic-baby1 img{
	width:100%;
	height: 100%;
	box-shadow: 1px 5px 30px 5px #D1F0F8;
	opacity: 0;
	transition: all .5s;
}
.wrap-kinds>div:nth-of-type(2){
	width:910px;
	background:url(../imgs/circle-bg2.png) no-repeat;
	background-size:100% auto;
	margin:auto;
	margin-top:70px;
	background-position:80% 25%;
}
.wrap-kinds>div:nth-of-type(2) .pic-baby1 img{
	width:100%;
	height: 100%;
	box-shadow: 1px 5px 30px 5px rgba(48,35,174,0.2);
	opacity: 0;
	transition: all .5s;
}
.wrap-kinds>div:nth-of-type(3){
	width:910px;
	background:url(../imgs/circle-bg3.png) no-repeat;
	background-size:100% auto;
	margin:auto;
	margin-top:70px;
	background-position:80% 25%;
}
.wrap-kinds>div:nth-of-type(3) .pic-baby1 img{
	width:100%;
	height: 100%;
	box-shadow: 1px 5px 30px 5px rgba(227,67,141,0.2);
	opacity: 0;
	transition: all .5s;
}
.gife-born h2 img{
	width:392px;
	height:34px;
	margin-left:35%;
	margin-right:35%;
	margin-bottom:26px;
	opacity: 0;
	transition: all .5s;
}
.pic-baby1{
	position: relative;
	width:790px;
	height:316px;
	margin:auto;
}
.pic-baby1>a{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.gife-born ul{
	width:790px;
	margin:30px auto;
	overflow: hidden;
}
.gife-born ul li{
	position: relative;
	width:258px;
	height:162px;
	float:left;
	background:#fff;
	border-radius:4px;
	margin-right:8px;
	border:1px solid #F0F0F0;
	box-shadow: 0 4px 8px 0 #F0F0F0;
}
.gife-born ul li a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.gife-born ul li:last-child{
	margin-right:0;
}
.gife-born ul li h4{
	font-size:18px;
	padding-top:57px;
	padding-left:15px;
	color:#333;
}
.gife-born ul li p{
	font-size:12px;
	padding-left:15px;
	color:#666;
	margin-top:4px;
}
.gife-born ul li img{
	float:right;
	width: 160px;
	height:160px;
	opacity: 0;
	transition: all .5s;
}
.guess-like-public{
	width:1000px;
	margin:70px auto;
	overflow:hidden;
}
.guess-like-public h2{
	width:275px;
	height:30px;
	margin:auto;
}
.guess-like-public h2 img{
	width:100%;
}

//大礼包
.opacity{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	transition: all .5s;
	display: none;
	opacity: 0;
	z-index: 1;
}
.opacity .spree{
	position: absolute;
	left: 50%;
	top: 50%;
	width:240px;
	height:350px;
	margin-top: -175px;
	margin-left: -120px;
	background-color: rgba(0,0,0,0);
	border-radius: 12px;
	overflow: hidden;
}
.opacity .spree img{
	width:240px;
	height:350px;
	position: relative;
}
.opacity .spree a{
	position: absolute;
	bottom:0px;
	left:13px;
	width:185px;
	height:58px;
	display: block;
	border-radius: 13px;
}
.spree-pic{
	position: relative;
}
.open{
	display: none;
}

